/*  =ESTRUCTURA
--------------------------------------------------------------------------------*/

body{

    background-image: url("../img/fondo2.png");
    background-color: thistle;
    color: rgb(110, 17, 17);

    border: 15px dotted rgb(179, 12, 67);
}


/*------------------------------------------------------------------------------*/

/*  =FUENTES
--------------------------------------------------------------------------------*/

@font-face {
    font-family: "Fuente titulo";
    src: url("../fonts/LobsterTwo-Bold.ttf");
}

@font-face {
    font-family: "LemonTea";
    src: url("../fonts/LemonTea.ttf");
}

@font-face {
    font-family: "chicken";
    src: url("../fonts/PinkChicken-Regular.ttf");
}

/*------------------------------------------------------------------------------*/

/*  =CLASES:
--------------------------------------------------------------------------------*/

.lemon {

    font-family: "LemonTea", "Times New Roman", serif;
    color:rgb(148, 11, 118);
}

#parrafo {

    font-family: "chicken", "Times New Roman", serif;
    color:rgb(110, 8, 25);
}

.texto {

    box-sizing: border-box;
    background-color: rgb(248, 229, 240);
    border: 5px double rgb(160, 17, 48);
    padding: 10px;

}

.titulo {

    font-family: "Fuente titulo", "Lucida Handwriting", cursive;
    color: rgb(160, 17, 48);
}

.bordesT {
 
    border: 5px double rgb(148, 11, 118);
}

/*----------------------------------------------------------------------------*/

/*  =IDs:
------------------------------------------------------------------------------*/

#over {
    background-color: rgb(248, 229, 240);
    
    height: 150px;
    width: 300px;
    border: 5px double rgb(160, 17, 48);
    padding: 10px;
    overflow: auto;
}

#posicion1 {

    box-sizing: border-box;
    width: 500px;
    height: 700px;
    background-color: rgb(248, 229, 240);
    border: 10px double rgb(160, 17, 48);

    top: 30%;
    left: 70%;

    position: absolute;

}

#posicion2 {

    border: 10px double rgb(160, 17, 48);

    top: 6.5%;
    left: 6.5%;

    position: relative;

}

#tabla1 {

    background-color:rgb(250, 240, 255);

}
  
#link:hover {
    background-color: rgb(253, 180, 170) !important;
}

/*----------------------------------------------------------------------------*/