@font-face {
    font-family: "animetitles";
    src: url("../fonts/animetitles.ttf");
}

@font-face{
    font-family: "texto";
    src: url("../fonts/texto.ttf");
}


body{
    background-color: #d8d6c3c4;
}

#nav {
    /* display: block ; */
    background-color: rgb(255, 129, 150) ;
    background-image: url("../img/ajofondo.png") !important;
    background-size: 60px 60px;
    background-position: center;
    font-family: "animetitles", 'Courier New', cursive;
    font-weight: bolder;
    /* position: fixed; */
}
.dropdownItem {
    font-family: "animetitles", 'Courier New', cursive;
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    /* color: var(--bs-dropdown-link-color); */
    color:rgb(255, 0, 162);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.navbar-brand{
    text-shadow: 3px 2px white;
}

.dropdown-item{
    color: rgb(151, 0, 113);
    font-size: smaller;
}

#contenedor{
    display: flex;
    justify-content: center;
    
}
#fondo{
    /* display: flex; */
    width: 70em;
    height: 120em;
    background-color: rgba(126, 240, 255, 0.776);
    border-style:double;
    border-width: 7px;
    /* border-color: rgba(255,192,203,255); */
    border-color: rgb(255, 255, 255);
}

#texto{
    margin: 15%;
}

.info_padre{
    
    padding: 10%;
    /* height: 200px;
    width: 200px; */
    background-color: rgba(212, 208, 255, 0.833) !important;
    font-family: "texto", 'Courier New', serif;
    font-weight: bolder;
    border-radius: 6%;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-shadow: 3px 2px rgb(179, 177, 177);
    
}

/* #axo{
    width: 400px;
    height: 400px;
    background-color:rgb(255, 0, 162);
    position: relative;
    left: 250px;
    top: 250px; 
    
} */